.hero-6 .carousel .carousel-control-prev .hero-slider-arrow::after, .hero-6 .carousel .carousel-control-next .hero-slider-arrow::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 50px;
    position: absolute;
    left: -8px;
    right: 0;
    top: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 6px;
    box-shadow: 0px 0px 0 0px rgba(255, 255, 255, 0.08);
    transition: all 0.3s ease-in-out;
}